body{
    padding:0px;
    margin:0px;
    background-color:rgb(217, 216, 216);
    }
    .navbar{
    color:#000;
    height:150px;
    width:100%;
    background-color:rgb(251, 249, 247);
    box-shadow:0px 0px 0px 5px #f8560b;
    }
    .stringcode-logo-image{
    height:120px;
    width:200px;
    margin-left:80px;
    padding:7px; 
    
    margin-top:10px;
    }
    .navbar-brand-name{
        margin-top:0px;
    }
    .navbar-menu-container{
    margin-left:580px;
    padding:20px;
    margin-top:-80px;
    }
    .navbar-menu{
        padding:20px;
    
        font-size:22px;
        color:#3b2612;
        width:20px;
        height:10px;
        }
        .navbar-menu:hover{
        width:20px;
        height:10px;
        border-radius:10px;
        background-color:#f8560b;
        color:#fff;
        padding:5px 10px;
        margin:5px;
        cursor:pointer;
       }
    .content{
       margin-top:40px;
       padding:20px;
    }
    .section-title{
        text-align: center;
        margin-top:30px;
    }
    .heading{
        text-align: center;
        font-size: 30px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
    }
    .section-content{
        text-align: justify;
        font-size: 20px;
        margin-left: 50px;
        margin-right: 50px;
        margin-top:20px;
    }
    .link-tag{
        text-decoration: none;
        color:#000;
    }
    .link-tag:hover{
        text-decoration:none;
        color:white;
    }
    .footer-contact{
        background-color:  #24262b;
        padding: 50px 0;
        height:250px;
        margin-top:50px;
      }
      .contact-container{
        max-width: 2000px;
        margin:auto;
        display: flex;
        margin-left:180px ;
        
      }
      .footer-col{
        color: white;
        font-size: 20px;
      
      }
      .contact-row{
        line-height:27px;
        margin-left:10px;
        margin-top:-40px;
      }
      .contact-footer-info{
        text-decoration: none;
        color: #faf8f8;
      }
      .social-link{
       line-height: 100px;
        display: flex;
      }
      .footer-col h4{
        line-height:50px;
        text-underline-position: 5px;
      }
      .contact{
        margin-top:-60px;
        text-align:start;
        text-decoration: none;
        color:#ccc;
      }
      .heading1{
        margin-left:30px;
      }
      .contact-footer-info ul li{
        margin-top:-10px;
      }
    