.navbar{
    color:#000;
    height:150px;
    width:1400px;
    background-color:rgb(251, 249, 247);
    box-shadow:0px 0px 0px 5px #f8560b;
    margin-top:-10px;
    margin-left:-10px;
    }
    .stringcode-logo-image{
    height:90px;
    width:200px;
    margin-left:80px;
    padding:7px;
    margin-top:20px;
    }
    .navbar-brand-name{
        margin-top:0px;
    }
    .navbar-menu-container{
    margin-left:600px;
    padding:20px;
    margin-top:-80px;
    }
    .navbar-menu{
    padding:20px;
    border:nine;
    font-size:20px;
    color:black;
    width:20px;
    height:10px;
    text-decoration:none;
    }
    .navbar-menu:hover{
    width:20px;
    height:10px;
    border-radius:10px;
    background-color:#f8560b;
    color:#fff;
    padding:5px 10px;
    margin:5px;
    cursor:pointer;
   
}
.image{
    margin-top:20px;
    margin-left:200px;
}
.heading{
    margin-left:20px;
    text-align: center;
}
.heading2{
    font-weight:100;
    text-align:center;
}
.link-tag{
    color:#000;
    text-decoration: none;
}
.link-tag:hover{
    color:#fff;
    text-decoration: none;
}
.footer-contact{
  background-color:  #24262b;
  padding: 50px 0;
  height:230px;
  margin-top:50px;
}
.contact-container{
  max-width: 2000px;
  margin:auto;
  display: flex;
  margin-left:180px ;
  
}
.footer-col{
  color: white;
  font-size: 20px;

}
.contact-row{
  line-height:27px;
  margin-left:10px;
  margin-top:-40px;
}
.contact-footer-info{
  text-decoration: none;
  color: #faf8f8;
  margin-left:-5px;
}
.social-link{
 line-height: 100px;
  display: flex;
}
.footer-col h4{
  line-height:50px;
  text-underline-position: 5px;
}
.contact{
  margin-top:-40px;
  text-align:start;
  text-decoration: none;
  color:#ccc;
}
@media screen and (max-width:600px){
  .navbar{
    width:1100px;
  }
  .image{
    width:800px;
    margin-left:100px;
  }
  .heading{
    width:400px;
    margin-left:300px;
  }
  .heading1{
    margin-left:320px;
    width:300px;
    font-size: 26px;;
  }
  .footer-contact{
    width:1100px;
  }
  .contact-container{
    margin-left:90px;
  }
}
