/* Basic styles, feel free to modify */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:rgb(217, 216, 216);
  }

  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top:5px;
  }

  .industries-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
    justify-items: center;
    padding: 20px;
    max-width: 1200px;
    margin-top:20px;
  }

  .industry {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: justify;
    
  }

  .industry img {
    max-width: 100%;
    height: auto;
    max-height: 200px; /* Adjusted max-height for moderate size */
    margin-bottom: 15px;
}
.navbar{
    color:#000;
    height:180px;
    width:100%;
    background-color:rgb(251, 249, 247);
    box-shadow:0px 0px 0px 5px #f8560b;
    }
    .stringcode-logo-image{
    height:120px;
    width:250px;
    margin-left:80px;
    padding:7px;
    border-radius:2px;
    border:double 7px white;
    background-color:rgb(179, 176, 172);
    margin-top:20px;
    }
    .navbar-brand-name{
        margin-top:0px;
    }
    .navbar-menu-container{
    margin-left:580px;
    padding:20px;
    margin-top:-80px;
    }
    .navbar-menu{
    padding:20px;
    border:nine;
    font-size:20px;
    color:black;
    width:20px;
    height:10px;
    text-decoration:none;
    }
    .navbar-menu:hover{
    width:20px;
    height:10px;
    border-radius:10px;
    background-color:#f8560b;
    color:#fff;
    padding:5px 10px;
    margin:5px;
    cursor:pointer;
   
}
.heading4{
    margin-top:10px;
    text-align: center;
}
.link-tag{
    color:#000;
    text-decoration:none;
}
.link-tag:hover{
    color:#fff;
}
.images{
    align-items: center;
    margin-left:100px;
}
.footer-contact{
    background-color:  #24262b;
    padding: 50px 0;
    height:250px;
    margin-top:40px;
    width:100%;
}
.contact-container{
    margin:auto;
    display: flex;
    margin-left:160px ;
    height:200px;
    
}
.footer-col{
    color: white;
    font-size: 20px;

}
.contact-row{
    line-height:27px;
    margin-left:10px;
    margin-top:-10px;
}
.contact-footer-info{
    text-decoration: none;
    color: #faf8f8;
    margin-top:10px;
    
}
.social-link{
   line-height: 100px;
    display: flex;
}
.footer-col h4{
    line-height:50px;
    text-underline-position: 5px;
}
.img-contact{
    width:30px;
    height:30px;
    cursor:pointer;
}